<!-- <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isActive === 'all'}" (click)="filter('all');">Tất cả
            ({{customers.length}})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isActive === 'pending'}" (click)="filter('pending')">Vé đang chờ
            ({{count('pending')}}) </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isActive === 'departure'}" (click)="filter('departure')">Vé xuất bến
            ({{count('departure')}})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isActive === 'change'}" (click)="filter('change')">Vé đổi
            ({{count('change')}})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isActive === 'cancel'}" (click)="filter('cancel')">Vé hủy
            ({{count('cancel')}})</a>
    </li>
</ul> -->


<kendo-grid [data]="gridView" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [height]="650"
    [navigable]="true" (dataStateChange)="pageChange($event)">
    <kendo-grid-column field="Id" title="STT"></kendo-grid-column>
    <kendo-grid-column field="HoTen" title="Số ĐH"></kendo-grid-column>
    <kendo-grid-column field="Telephonenumber" title="Khách Hàng"></kendo-grid-column>
    <kendo-grid-column field="Chuyen.ChuyenName" title="Tình trạng"></kendo-grid-column>
    <kendo-grid-column field="SoXe" title="Tổng SL"></kendo-grid-column>
    <kendo-grid-column field="ThoiGian" title="Tổng giá trị (VNĐ)"></kendo-grid-column>
    <kendo-grid-column field="Ve" title="Ngày tạo"></kendo-grid-column>
    <div *kendoGridDetailTemplate="let dataItem">
        <app-navi-filling [customers]="customers"></app-navi-filling>
    </div>
</kendo-grid>

<!-- <app-navi-filling [customers]="customers"></app-navi-filling> -->