<div class="row d-flex justify-content-between">
    <div class="col-5 row">
        <div class="input-group col-8">
            <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            <div class="input-group-append m-0">
                <button class="btn btn-outline-secondary btn-seach" type="button" id="button-addon2">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-7 row d-flex justify-content-end">
        <div class="col-4 px-1 text-right">
            <kendo-dropdownlist [data]="listTour" [defaultItem]="'Chọn tuyến'"></kendo-dropdownlist>
        </div>
        <div class="col-4 px-1 text-right">
            <kendo-datetimepicker [value]="value"></kendo-datetimepicker>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-primary w-100">Xem</button>
        </div>
    </div>
</div>