<div class="row d-flex justify-content-around">
        <div class="col-4 row d-flex align-items-start flex-column">
            <div class="p-2"> 
                Khách hàng: <kendo-dropdownlist [data]="listTour" [defaultItem]="'All'"></kendo-dropdownlist>
            </div>
            <div class="p-2"> 
                Ngày giao::  
                Từ <kendo-datetimepicker [value]="value"></kendo-datetimepicker>
            </div>
        </div>
        <div class="col-4 row d-flex align-items-between flex-column">
            <div class="p-2"> 
            Tình trạng : <kendo-dropdownlist [data]="listTour" [defaultItem]="'Đã xác nhận'"></kendo-dropdownlist>
            </div>
            <div class="p-2"> 
            Đến: <kendo-datetimepicker [value]="value"></kendo-datetimepicker>
            </div>
        </div>
        <div class="col-4 row d-flex align-items-end flex-column">
            <div class="mt-auto p-2 w-100">
                <button kendoButton [icon]="'check'">Tìm kiếm</button>
            </div>
        </div>
</div>
    <!-- </div>
    <div class="d-flex align-items-start flex-column" style="height: 200px;">
    <div class="col-4">

    </div>
    <div class="col-4">
        <div class="p-2"> 
            <kendo-datetimepicker [value]="value"></kendo-datetimepicker>
        </div>
    </div>
    <div class="col-4">
        <div class="p-2">
            <button type="button" class="btn btn-primary w-100">Xem</button>
        </div>
    </div>
</div>
</div> -->