
.cc{
    display: inline-block;
    padding: 0px 0px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.user{
    display: inline-block;
    margin-left: 850px;
    padding: 30px;
    padding-bottom: 10px;
    color:blue;
}