<div class="d-flex justify-content-between">
    <span class="border-bottom">
        <p class="cc"> Quản Lý Đơn Hàng</p>
        <a class="user" href = ""><span class="k-icon k-i-undo" style="font-size: 50px;"></span> Về trang chủ</a>
    </span>
</div>