<h4 class="ml-4">Danh sách khách hàng</h4>

<ul class="nav nav-tabs ml-5" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tất cả (30)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Trạm hiện tại (5)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Trạm kế (5)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Trạm đã qua (12)</a>
  </li>
</ul>
<div class="row">
    <div class="col-sm-12 col-md-1">
        <div class="d-flex flex-column clo">
            <div class="p-2"><button type="button" class="btn btn-danger">-</button></div>
            <div class="p-2"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="p-2"><button type="button" class="btn btn-secondary">5</button></div>
            <div class="p-2"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="p-2"><button type="button" class="btn btn-secondary">7</button></div>
            <div class="p-2"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="p-2"><button type="button" class="btn btn-success">5</button></div>
            <div class="p-2"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="p-2"><button type="button" class="btn btn-warning">5</button></div>
            <div class="p-2"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="p-2"><button type="button" class="btn btn-light">3</button></div>
            <div class="p-2"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="p-2"><button type="button" class="btn btn-light">5</button></div>
            <div class="p-2"><i class="fa fa-download" aria-hidden="true"></i></div>
            <div class="p-2"><button type="button" class="btn btn-danger">-</button></div>
          </div>
    </div>
    <div class="col-sm-12 col-md-11">
        <div class="row">
            <div class="p-2"*ngFor="let customer of customers">
                <div class="card mr-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <kendo-switch class="sw w-100" [checked]="true" [onLabel]="'Đã lên xe'" [offLabel]="'Chưa lên xe'"></kendo-switch>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <kendo-switch class="sw w-100" [checked]="false" [onLabel]="'Đã xuống xe'" [offLabel]="'Chưa xuống xe'"></kendo-switch>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="fa fa-user-circle-o fa-5x"></div>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <p class="text">Họ tên: {{customer.HoTen}}</p>
                                <p class="text">Giới tính: {{customer.GioiTinh}}</p>
                                <p class="text">Lớp: {{customer.Lop}}</p>
                                <p class="text">Điểm đón: {{customer.DiemDon}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
