.sw{
    margin-top: 5px;
}
::ng-deep .k-switch-on .k-switch-container {
    background-color: greenyellow;
}

::ng-deep .k-switch-on:hover .k-switch-container {
    background-color: greenyellow;
}
.card{
    width: 370px;
}
.clo{
    text-align: center;
}