<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isActive === 'all'}" (click)="filter('all');">Tất cả
            ({{customers.length}})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isActive === 'pending'}" (click)="filter('pending')">Vé đang chờ
            ({{count('pending')}}) </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isActive === 'departure'}" (click)="filter('departure')">Vé xuất bến
            ({{count('departure')}})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isActive === 'change'}" (click)="filter('change')">Vé đổi
            ({{count('change')}})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isActive === 'cancel'}" (click)="filter('cancel')">Vé hủy
            ({{count('cancel')}})</a>
    </li>
</ul>


<kendo-grid [data]="gridView" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [height]="650"
    [navigable]="true" (dataStateChange)="pageChange($event)">
    <kendo-grid-column field="Id" title="ID"></kendo-grid-column>
    <kendo-grid-column field="HoTen" title="Họ & Tên"></kendo-grid-column>
    <kendo-grid-column field="Telephonenumber" title="Điện thoại"></kendo-grid-column>
    <kendo-grid-column field="Chuyen.ChuyenName" title="Chuyến"></kendo-grid-column>
    <kendo-grid-column field="SoXe" title="Số xe"></kendo-grid-column>
    <kendo-grid-column field="ThoiGian" title="Thời gian"></kendo-grid-column>
    <kendo-grid-column field="Ve" title="Vé"></kendo-grid-column>
    <kendo-grid-column field="TienThu" title="Tiền thu"></kendo-grid-column>
    <kendo-grid-column field="TongTien" title="Tổng tiền"></kendo-grid-column>
    <kendo-grid-column field="PhongVe" title="Phòng vé"></kendo-grid-column>
    <kendo-grid-column field="TrangThai" title="Trạng thái">
        <ng-template kendoGridCellTemplate let-dataItem>
           <div [ngClass]="{'first':true}">{{dataItem.TrangThai}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="GhiChu" title="Ghi chú"></kendo-grid-column>
    <div *kendoGridDetailTemplate="let dataItem">
        <app-navi-filling [customers]="customers"></app-navi-filling>
    </div>
</kendo-grid>

<!-- <app-navi-filling [customers]="customers"></app-navi-filling> -->