<kendo-grid
    [data]="gridView">
    <kendo-grid-column field="Chuyen.Ghe" title="Ghế"></kendo-grid-column>
    <kendo-grid-column field="Chuyen.GiaTien" title="Giá Tiền"></kendo-grid-column>
    <kendo-grid-column field="Chuyen.Uudai" title="Ưu Đãi"></kendo-grid-column>
    <kendo-grid-column field="Chuyen.ThanhToan" title="Thanh Toán">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="k-icon k-i-dollar k-icon-32">{{dataItem.Chuyen.ThanhToan}}</span>
         </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Chuyen.NguoiThu" title="Người Thu"></kendo-grid-column>
    <kendo-grid-column field="Chuyen.TrangThai" title="Trạng thái">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div [ngClass]="{'first':true}">{{dataItem.Chuyen.TrangThai}}</div>
         </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Chuyen.NguoiBan" title="Người Bán"></kendo-grid-column>
    <kendo-grid-column field="Chuyen.GhiChu" title="Ghi chú"></kendo-grid-column>
</kendo-grid>