
   <kendo-tabstrip>
        <kendo-tabstrip-tab [title]="'Chi tiết sản phẩm'">
          <ng-template kendoTabContent>
            <table id="grid">
                <colgroup>
                    <col />
                    <col />
                    <col style="width:110px" />
                    <col style="width:150px" />
                    <col style="width:130px" />
                </colgroup>
                <thead>
                    <tr>
                        <th data-field="make">Sản phẩm</th>
                        <th data-field="model">Số lượng</th>
                        <th data-field="year">Đơn giá</th>
                        <th data-field="category">Thành tiền (VNĐ)</th>
                        <th data-field="airconditioner">Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Panadol</td>
                        <td>2 hộp</td>
                        <td>200.000</td>
                        <td>400.000</td>
                        <td>Còn hàng</td>
                    </tr>
                    <tr>
                        <td>Liki Gold</td>
                        <td>1 hộp</td>
                        <td>675.000</td>
                        <td>675.000</td>
                        <td>Hết hàng</td>
                    </tr>
                </tbody>
            </table>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Chi tiết giao hàng'">
          <ng-template kendoTabContent>
            <table id="grid">
                <colgroup>
                    <col />
                    <col />
                    <col style="width:110px" />
                    <col style="width:120px" />
                    <col style="width:130px" />
                </colgroup>
                <thead>
                    <tr>
                        <th data-field="make">Địa chỉ giao</th>
                        <th data-field="model">Ghi chú đơn hàng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>31 Trần Khắc Chân, Phường Tân Định, Quận 1</td>
                        <td>Đưa bảo vệ xác nhận dùm</td>
                    </tr>
                </tbody>
            </table>
          </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>