.logo{
    display: inline-block;
    padding: 20px; 
    padding-bottom: 10px;
}
.cc{
    display: inline-block;
    padding: 30px 100px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.user{
    display: inline-block;
    margin-left: 600px;
    padding: 30px;
    padding-bottom: 10px;
}