<div class="d-flex justify-content-between">
    <span class="border-bottom">
        <a class="logo" href="#"><img src="../../../assets/image/logo.PNG"></a>
        <p class="cc"> Quản Lý ID Booking</p>
        <a class="user" href="#"> <img src="../../../assets/image/icon.PNG"></a>
    </span>
</div>